
body {
  font-family: 'Brandon Grotesque Medium', sans-serif;
  font-style: normal;
  width: 75vw;
  margin-left: auto;
  margin-right:auto
};

header {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media(max-with: 650px) {
  body {
    width: 100vw;
  }
}
